*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.out
_minted-*/
*.bcf
*.run.xml
*.listing
*.toc
*.pyg
*.swp
__pycache__/
*.sage.py
*_vimtex_selected.tex
*.prepl
